/*--------------------------------------------------------------
>>> _481up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Top Section
--------------------------------------------------------------*/
#logo {
	max-width: 350px;
}

/*--------------------------------------------------------------
Menu Section
--------------------------------------------------------------*/
.tab-content {
	.item {
		width: 48%;
		margin-right: 4%;
		&:nth-of-type(odd) {
			clear: left;
		}
		&:nth-of-type(even) {
			margin-right: 0;
		}
	}
}