/*--------------------------------------------------------------
>>> _481up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Menu Section
--------------------------------------------------------------*/

.tab-content {
	.item {
		width: 48%;
		margin-right: 4%;
		&:nth-of-type(odd) {
			clear: left;
		}
		&:nth-of-type(even) {
			margin-right: 0;
		}
	}
}