/*--------------------------------------------------------------
>>> _768up.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/
/* Windows */
.window {
	position: absolute;
	width: 100%;
	height: 100%;
}
#menu {
	top: 100%;
}
#gallery {
	top: 200%;
}
#press {
	top: 300%;
}
#info {
	top: 400%;
}

/* Sections */
.section {
	padding: 6.0em;
	h2 {
		font-size: 48px;
		font-size: 4.8rem;
	}
}

/*--------------------------------------------------------------
Top Section
--------------------------------------------------------------*/
#top {
}
#logo {
	max-width: 475px;
}

/*--------------------------------------------------------------
Menu Section
--------------------------------------------------------------*/
#menu {
}

/*--------------------------------------------------------------
Gallery Section
--------------------------------------------------------------*/
#gallery {
}

/*--------------------------------------------------------------
Press Section
--------------------------------------------------------------*/
#press {
}

/*--------------------------------------------------------------
Info Section
--------------------------------------------------------------*/
#info {
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
body.home {
	.site-footer {
		position: absolute;
		top: 500% !important;
		width: 100%;
		height: auto;
	}
}