/*--------------------------------------------------------------
>>> _fonts.scss
--------------------------------------------------------------*/

/* Apercu Mono */
@font-face {
	font-family: 'Apercu Mono';
	src: url("../fonts/apercu-mono-webfont.eot");
	src: url("../fonts/apercu-mono-webfont.eot#iefix") format('embedded-opentype'),
		 url("../fonts/apercu-mono-webfont.woff") format('woff'),
		 url("../fonts/apercu-mono-webfont.ttf") format('truetype'),
		 url("../fonts/apercu-mono-webfont.svg#fontello") format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Fontello */
$version: "93272557";
@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?90673204');
	src: url('../fonts/fontello.eot?90673204#iefix') format('embedded-opentype'),
		 url('../fonts/fontello.woff?90673204') format('woff'),
		 url('../fonts/fontello.ttf?90673204') format('truetype'),
		 url('../fonts/fontello.svg?90673204#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'fontello';
		src: url('../font/fontello.svg?#fontello') format('svg');
	}
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-yelp:before { content: '\79'; } /* 'y' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-left-circle:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-right-circle:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */