/*--------------------------------------------------------------
>>> _mixins.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
/* Fonts */
$sans-serif: 'Roboto', sans-serif;

/* Colors */
$gray-dark: #555;
$gray-light: #CCC;
$periwinkle: #8A939A;
$red: #B93340;

/*--------------------------------------------------------------
Definitions
--------------------------------------------------------------*/
/* Fonts */
$body-font: $sans-serif;

/* Colors */
$accent-color: $periwinkle;
$body-color: $gray-dark;
$border-color: $gray-light;
$link-color: $red;

/* Social */
$facebook: #3C599B;
$twitter: #5EA9DD;

/*--------------------------------------------------------------
Effects
--------------------------------------------------------------*/
/* Transitions */
@mixin animate($time: .25s) {
	-webkit-transition: all $time linear;
	-moz-transition: all $time linear;
	-o-transition: all $time linear;
	transition: all $time linear;
}

/* Shadows */
@mixin drop-shadow($color) {
	-webkit-box-shadow: 0 8px 10px -6px $color;
	box-shadow: 0 8px 10px -6px $color;
}

/* Text Effects */
@mixin antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}