/*--------------------------------------------------------------
>>> _mobile.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
body {
	background: url('../img/bg.jpg') left top repeat;
	position: relative;
}
.site-content {
	padding: 4.5em 0;
}
/* Admin bar fix */
body.admin-bar {
	//margin-top: 32px;
	.site-header {
		top: 32px;
	}
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.site-header {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 9999;
	padding: 1.0em 0;
	background-color: rgba(0, 0, 0, 0.75);
}
.headroom {
	transition: transform 200ms linear;
}
.headroom--pinned {
	//display: block;
	transform: translateY(0%);
}
.headroom--unpinned {
	//display: none;
	transform: translateY(-100%);
}
.site-branding {
	display: none;
}
.main-navigation {
	text-align: center;
	li {
		float: none;
		padding-top: 1.0em;
		&:first-of-type {
			padding-top: 1.5em;
		}
	}
	a {
		font-weight: bold;
		text-transform: uppercase;
		@include antialiased;
		&:hover,
		&:focus {
			color: lighten($link-color, 10%);
		}
	}
}
.menu-toggle {
	color: $link-color;
	margin: 0;
	font-size: 16px;
	font-size: 1.6rem;
	text-transform: uppercase;
	line-height: 1.5;
	&:hover,
	&:focus {
		cursor: pointer;
	}
}

/*--------------------------------------------------------------
Home Page
--------------------------------------------------------------*/
body.home {
	.site-content {
		padding: 0;
	}
}
/* Sections */
.section {
	text-align: center;
	padding: 4.0em 0;
	h2 {
		font-family: $menu-font;
		font-size: 42px;
		font-size: 4.2rem;
		margin: 0 0 1.25em;
		text-transform: uppercase;
	}
}
/* Contrast */
div.contrast {
	color: $contrast-color;
}
/* Sliders */
.slider {
	overflow: hidden;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.slider__arrows {
		opacity: 0;
	}
	&:hover {
		.slider__arrows {
			opacity: 0.5;
			@include animate;
		}
	}
}
.slider__arrows {
	a:before {
		font-family: 'fontello';
		font-size: 36px;
		font-size: 3.6rem;
		line-height: 1.0;
		color: white;
		@include antialiased;
	}
	a:hover {
		&:before {
			color: darken(white, 20%);
			@include animate;
		}
	}
}
.slider__arrows-item {
	display: none !important;
}
.slider__arrows-item--left:before {
	content: '\e802';
}
.slider__arrows-item--right:before {
	content: '\e804';
}

/* 404 */
.page-header {
	border-color: $accent-color;
}
.search-form {
	input[type="search"] {
		background-color: darken($accent-color, 10%);
		color: white;
		padding: 0.35em 0.5em;
		border: none;
	}
}
.widget {
	select {
		background-color: darken($accent-color, 10%);
		color: white;
		padding: 0.25em;
		border: 1px solid darken($accent-color, 15%);
	}
}

/*--------------------------------------------------------------
Top Section
--------------------------------------------------------------*/
.top-section {
	background: url('../img/bg-top.jpg') left top no-repeat;
	background-size: cover;
	background-attachment: fixed;
	.info {
		font-family: $menu-font;
		font-size: 20px;
		font-size: 2.0rem;
		text-transform: uppercase;
		span {
			display: block;
		}
		a {
			color: white;
			&:hover,
			&:focus {
				color: darken(white, 20%);
			}
		}
	}
	.vert-aligner {
		display: table;
		width: 100%;
		height: 100%;
	}
	.aligned {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
}
#logo {
	display: block;
	margin: 0 auto 3.0em;
	max-width: 300px;
}

/*--------------------------------------------------------------
Menu Section
--------------------------------------------------------------*/
.menu-section {
	background: url('../img/bg-menu.jpg') left top repeat;
}
.menu-tabs {
	list-style-type: none;
	margin: -0.5em 0 1.5em;
	padding: 0 0 1.0em;
	font-family: $menu-font;
	border-bottom: 1px solid $body-color;
	li {
		display: inline;
		padding: 0 0.75em;
		&.active {
			a { color: $link-color; }
		}
	}
	a {
		display: inline-block;
		text-transform: uppercase;
		font-size: 18px;
		font-size: 1.8rem;
		color: $body-color;
		&:hover,
		&:focus {
			color: $link-color;
		}
	}
}
.tab-content {
	overflow: hidden;
	font-family: $menu-font;
	font-size: 14px;
	font-size: 1.4rem;
	.item {
		float: left;
		width: 100%;
		text-align: left;
		margin-bottom: 1.0em;
	}
	.brand, .name {
		text-transform: uppercase;
	}
	.price:after {
		content: "";
		display: table;
		clear: both;
	}
}

/*--------------------------------------------------------------
Gallery Section
--------------------------------------------------------------*/
.gallery-section {
	background: url('../img/bg-gallery.jpg') left top repeat;
}

/*--------------------------------------------------------------
Press Section
--------------------------------------------------------------*/
.press-section {
	background: url('../img/bg-press.jpg') left top no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.excerpt {
	font-size: 24px;
	font-size: 2.4rem;
	p {
		margin-bottom: 0.75em;
		padding: 0 5%;
	}
}

/*--------------------------------------------------------------
Info Section
--------------------------------------------------------------*/
.info-section {
	h3 {
		font-family: $menu-font;
		text-transform: uppercase;
		margin: 0 0 0.75em;
	}
	span {
		display: block;
		margin-bottom: 0.375em;
	}
	.stations {
		line-height: 1.75;
	}
	.notes {
		padding: 0 25%;
	}
}
.info-area {
	margin-bottom: 2.0em;
}
#location {
	margin: 1.0em 0 0;
	@include drop-shadow(#666);
	#content {
		overflow: hidden;
		white-space: nowrap;
		line-height: 1.35;
		text-align: left;
	}
	img { max-width: none; }
	h3 {
		font-size: 18px;
		font-size: 1.8rem;
		margin: 0.25em 0 0.375em;
	}
	span {
		display: block;
		font-size: 14px;
		font-size: 1.4rem;
		margin-bottom: 0.25em;
	}
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
	//background: url('../img/bg-gallery.jpg') top left repeat;
	//background-attachment: fixed;
	padding: 1.0em 0;
	text-align: center;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
		}
		a {
			display: inline-block;
		}
	}
	.social-links {
		margin-top: -0.5em;
	}
}
.footer-section {
	margin-bottom: 0.5em;
}
.social-links {
	a {
		font-size: 20px;
		font-size: 2.0rem;
	}
}

/*--------------------------------------------------------------
Blog
--------------------------------------------------------------*/
body.blog {
	.wp-post-image {
		border-radius: 3px;
		@include drop-shadow(#666);
	}
}
.hentry {
	margin: 0 0 2.0em;
}
.wp-caption {
	position: relative;
	margin: 0 0 1.5em;
	.wp-caption-text {
		background-color: rgba(0, 0, 0, 0.25);
		color: lighten($body-color, 15%);
		padding: 0.5em 1.0em;
		font-size: 14px;
		font-size: 1.4rem;
	}
}
.entry-meta {
	.updated { display: none; }
}
.entry-footer {
	.tags-links {
		display: none;
	}
}
/* Comments */
.comments-area {
	input,
	textarea {
		background-color: darken($accent-color, 10%);
		padding: 0.75em;
		color: white;
		border: none;
	}
	input {
		padding: 0.5em;
		border: none;
	}
}
/* Button */
input[type="submit"] {
	background-color: $link-color;
	color: white;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 0.5em 0.75em;
	border: none;
	border-radius: 2px;
	&:hover,
	&:focus {
		background-color: darken($link-color, 5%);
		@include animate;
	}
}